img.img-thumbnail{
    height: 150px;
    min-width: 150px !important;
    margin-bottom: 2px;
}

.nv-file-over{
    border: dotted 3px red;
}

input[type=file] {
    color: transparent;
}

.img-wrapper {
    position: relative;
    margin-left: 5px;
}
.img-text {
    position: absolute;
    bottom: 30%;
    padding-left: 5px;
}